---
---

.container
  %section.project-overview
    .title
      %h1 Blue Sky Broadcast
      %span thoughtbot client project: March '13 - June '13

    .inner-wrapper
      %article
        .image-wrapper= image_tag('blue_sky/assessment_finish_1.png')

      %article
        .narative
          %h2.pull
            Redesign and rebuild Blue Sky Broadcasts existing
            business to business product.

          %h3 The Team
          %p
            Two rails developers and a project manager from the Blue Sky team, two rails developers
            from the thoughtbot team and myself as the designer.

          %p
            My role as the designer was to lead the interaction design, user experice desing, interface design,
            product design, conduct research and user testing, impliment the application UI and lead the develpers
            so that any feature they work on were already implmented on the front end. I also worked in cordination
            with the Project manager to lead the direction of the redesign/rebuild.

          -# %h3 Process overview

          %h3 Develop Understanding
          %ul
            %li
              %p
                Understand the solutions, values and outcomes the existing application delivers.
            %li
              %p
                Understand the scope of the existing functionality, what works, what doesn't and why.
            %li
              %p
                Understand the existing customers, their needs and how the current product fulfills or
                falls short of meeting those needs.
            %li
              %p
                Understand the vision for the product and business so the rebuild can help facilitate
                the realization of future goals such as delivery of new functionality and acquisition of
                new customers from untapped markets.

          %p
            To develop these necessary understandings I conducted interviews with: Blue Sky product managers,
            the Blue Sky CEO, the Blue Sky Sales and Marketing teams, Blue Sky engineers supporting the
            legacy app, internal "Platform Admins" who administer Blue Sky client accounts. I also studied
            as many existing client accounts as I could get access to. I was not allowed to interview or conduct
            tests with existing Blue Sky clients, but doing so would have been extreamly valuable.

          %h3 The Legacy App
          %p
            Blue Sky Broadcast offeres a business to business product for various organizations in
            industries from architecture and insurace to physics and pharmaceuticals. Blue Sky captures event presentations
            and lectures, archives the content online and delivers online courses created from the captured content to
            facilitate contined education or certification and accreditation for the memebers of their
            clients organizations.

          .image-wrapper= image_tag('blue_sky/legacy_1.jpg')
          .image-wrapper= image_tag('blue_sky/legacy_2.jpg')
          .image-wrapper= image_tag('blue_sky/legacy_3.jpg')
          .image-wrapper= image_tag('blue_sky/legacy_4.jpg')
          .image-wrapper= image_tag('blue_sky/legacy_5.jpg')

          %h3 The Legacy App

        .image-wrapper= image_tag('blue_sky/courses_1.png')

        .image-wrapper= image_tag('blue_sky/courses_2.png')

        .image-wrapper= image_tag('blue_sky/assessment_admin_view.png')

        .image-wrapper= image_tag('blue_sky/assessment_question_modal.png')

        .image-wrapper= image_tag('blue_sky/assessment_finish_1.png')

        .image-wrapper= image_tag('blue_sky/course_nav.png')

        .image-wrapper= image_tag('blue_sky/home_mobile_2.jpg')

        .image-wrapper= image_tag('blue_sky/assessment_mobile_2.jpg')

        .image-wrapper= image_tag('blue_sky/assessment_mobile_finish_1.jpg')
